* {
    box-sizing: border-box;
}

.header {
    margin: 20px 50px;
    font-family: "Trebuchet MS";
}

/* Float four columns side by side */
.dashboard-column {
    float: left;
    width: 25%;
    padding: 20px 20px;
}

.dashboard-column p {
    font-family: "Trebuchet MS";
}

/* Remove extra left and right margins, due to padding */
.row {margin: 15px 20px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .dashboard-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 2px rgb(2, 0, 0);
}
